.navigation-container {
    background-color: #F6F4F5;
    border-radius: 0.5em;
    width: calc(100% - 2px - 1em);
    height: 100%;
    padding: 0.5em;
    border: 1px solid lightgrey;
}

.navigation-paragraph {
    margin: 0;
    margin-left: 0.25em;
}

.mat-button {
    /*font-weight: bold;*/
    display: flex;
    justify-content: left !important;
    border-radius: 0.5em;
    text-align: left;
    padding: 1em !important;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
}

.mat-icon {
    color: #aaa8b1 !important;
    font-size: xx-large !important;
    height: auto !important;
    width: auto !important;
}

.mat-button:hover {
    background-color: #E0E0E0;
}
