.app-header, .app-navigation, .app-content {
    width: 100%;
}

.app-content {
    height: 100%;
}

.tile-cell {
    background-color: var(--foreground-color);
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    margin: 1.5em;
    /*box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;*/
}

.central-container {
    padding-bottom: 0 !important;
    height: calc(100vh - 10em);
}

.navigation {
    height: -webkit-fill-available;
}

.content {
    height: -webkit-fill-available;
}

.footer {
    display: flex;
    align-items: center;
    font-size: small;
    justify-content: center;
}

@media (max-width: 768px) {
    .navigation {
        display: none !important;
    }
}

@media (min-width: 768px) {

}


