.app-header {
    width: 100%;
}

.tile-cell {
    background-color: var(--foreground-color);
    border-radius: 0.5em;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    margin: 0.5em;
    border: 2px solid rgb(242, 241, 241);
}

.central-container {
    padding-bottom: 0 !important;
    height: calc(100vh - 10em);
}

.navigation {
    height: -webkit-fill-available;
}

.content {
    height: -webkit-fill-available;
}

@media (max-width: 768px) {
    .navigation {
        display: none !important;
    }
}

@media (min-width: 768px) {
    
}


