<div class="navigation-container">
    <div class="mat-button-container">
        <button 
            mat-button 
            class="mat-button button-48"
        >
            Dashboard
        </button>
    </div>
    <div class="mat-button-container">
        <button mat-button class="mat-button button-48">
            Zdalne sterowanie
        </button>
    </div>
    <div class="mat-button-container">
        <button mat-button class="mat-button button-48">
            Zadania
        </button>
    </div>
</div>