<div class="navigation-container">
    <div class="mat-button-container">
        <button 
            mat-button 
            class="mat-button"
            (click)="switchContent('dashboard')"
        >
            <mat-icon>home</mat-icon>
            <p class="navigation-paragraph">Dashboard</p>
        </button>
    </div>
    <div class="mat-button-container">
        <button 
            mat-button 
            class="mat-button"
            (click)="switchContent('tasks')"
        >
            <mat-icon>task_alt</mat-icon>
            <p class="navigation-paragraph">Zadania</p>
        </button>
    </div>
    <div class="mat-button-container">
        <button 
            mat-button 
            class="mat-button"
            (click)="switchContent('controller')"
        >
            <mat-icon>gamepad</mat-icon>
            <p class="navigation-paragraph">Sterowanie</p>
        </button>
    </div>
</div>