<mat-grid-list cols="1" rowHeight="5em" style="padding-bottom: 0 !important;">
    <mat-grid-tile class="tile" colspan="1">
        <div class="tile-cell center" style="margin-bottom: 0">
            <app-header></app-header>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="5" class="central-container">
    <mat-grid-tile class="navigation tile" [colspan]="isLargeScreen ? 1 : 0">
        <div class="tile-cell center" style="margin-right: 0">
            Navigation
        </div>
    </mat-grid-tile>
    <mat-grid-tile class="content tile" [colspan]="isLargeScreen ? 4 : 5">
        <div class="tile-cell center">
            Content
        </div>
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="1" rowHeight="5em">
    <mat-grid-tile class="tile">
        <div class="tile-cell center" style="margin-top: 0">
            Footer
        </div>
    </mat-grid-tile>
</mat-grid-list>

  