<mat-list class="mat-list" role="list">
    <mat-list-item class="info-container">
        <h3 class="content-h3">Dashboard</h3>
        <p class="content-paragraph">Najważniejsze informacje o sprzęcie i systemie.</p>
        <mat-card>
            <mat-card-content>Simple card</mat-card-content>
        </mat-card>
    </mat-list-item>
    <mat-list-item class="task-container">
        <h3 class="content-h3">Zadania</h3>
        <p class="content-paragraph">Lista utworzonych zadań.</p>
    </mat-list-item>
</mat-list>