.mat-list {
    height: 100%;
    
}

.content-h3 {
    margin: 0.25em;
}

.content-paragraph {
    font-size: small;
    margin: 0.25em;
}

.mat-list-item {

}

.info-container {
    padding-bottom: 2em;
}

.task-container {

}