#app-content-dashboard {

}

#app-content-tasks {

}

#app-content-controller {
    height: -webkit-fill-available !important; 
    display: grid;
}

#app-content-controller .content {
    height: -webkit-fill-available;
    margin-left: 0.5em;
}

.content {
    margin-left: 0.5em;
}

.controller {
    height: -webkit-fill-available !important;
}

.content-h3 {
    margin: 0.25em;
}

.content-paragraph {
    font-size: small;
    margin: 0.25em;
}

.mdc-list-item {
    padding-left: 0 !important;
    padding-right: 0 !important;
}