<div style="height: -webkit-fill-available;">
    <div *ngIf="(this.modeService.mode) === 'dashboard'" class="content">
        <app-content-dashboard id="app-content-dashboard"></app-content-dashboard>
    </div>
    <div *ngIf="(this.modeService.mode) === 'tasks'" class="content">
        <app-content-tasks id="app-content-tasks"></app-content-tasks>
    </div>
    <div *ngIf="(this.modeService.mode) === 'controller'" class="content">
        <app-content-controller id="app-content-controller"></app-content-controller>
    </div>
</div>
