.app-header {
    width: 100%;
}

.mat-toolbar {
    padding: 0 !important;
}

.right-content {
    display: flex;
    width: 100%;
    justify-content: right;
}

.title {
    margin-left: 0.5em;
    margin-top: 0.2em;
    display: flex;
}

.title-text-1 {
    font-weight: bold;
    margin-left: 0.5em;
}

.title-text-2 {
    font-weight: bold;
    margin-left: 0.25em;
    color: #aaa8b1;
}

.unvisible-button {
    border: 0;
}

.logo {
    width: 3em;
}

@media (max-width: 768px) {
    .title-text-1, .title-text-2 {
        font-size: x-large;
    }
}

@media (min-width: 768px) {
    .title-text-1, .title-text-2 {
        font-size: xx-large;
    }
}



  